//! ---------- Colors ----------
$white-001: #ffffff;

$darkBlue-001: #2c4058;
$darkBlue-002: #4b5562;

$blue-001: #55b7ff;

$purple-001: #7e5aff;

//! ---------- Fonts ----------
$GothamBold: GothamBold, sans-serif;
$GothamBook: GothamBook, sans-serif;
$GothamMedium: GothamMedium, sans-serif;

$OpensansRegular: OpenSansRegular, sans-serif;
$OpensansItalic: OpenSansItalic, sans-serif;
