//! Import Gotham Fotns
@font-face {
	font-family: GothamRegular;
	src: url('./assets/fonts/gotham/GothamRegular.ttf');
}
@font-face {
	font-family: GothamMedium;
	src: url('./assets/fonts/gotham/GothamMedium.ttf');
}
@font-face {
	font-family: GothamBold;
	src: url('./assets/fonts/gotham/GothamBold.ttf');
}

//! Import OpenSans Fotns
@font-face {
	font-family: OpenSansRegular;
	src: url('./assets/fonts/openSans/OpenSansRegular.ttf');
}
@font-face {
	font-family: OpenSansItalic;
	src: url('./assets/fonts/openSans/OpenSansItalic.ttf');
}
